/* Monobank button styles */
.monobank-button {
    background-color: rgb(45, 45, 56);
}

.monobank-button:hover {
    background-color: rgb(35, 35, 46);
}

.monobank-copy {
    background-color: rgb(45, 45, 56);
}

/* Privat24 button styles */
.privat24-button {
    background-color: rgb(113, 174, 68);
}

.privat24-button:hover {
    background-color: rgb(103, 164, 58);
}

.privat24-copy {
    background-color: rgb(113, 174, 68);
}

.paypal-button {
    background-color: rgb(245, 198, 87);
    padding: .375rem .75rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    /*height: 40px;*/
}

.paypal-button img {
    max-width: 100%;
    max-height: 1.6rem; /* Add this line */

    /*height: auto;*/
}

.paypal-button:hover {
    background-color: rgb(225, 178, 67);
    text-decoration: none;
}
.paypal-copy {
    background-color: rgb(245, 198, 87);
}


.clipboard-button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}


.btn btn-secondary copy-btn {
    width: 20px;
    height: 20px;
}

.donate-button {
    width: 160px;
}

#copied-notification {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body {
    background-color: #f5f5f5;
}
/*.btn {*/
/*    size: 1.3rem;*/
/*    padding: .5rem 1rem;*/
/*}*/







/* General styles */
body {
    font-size: 18px; /* Increase font size */
    background-color: #f5f5f5;
}

/* Header styles */
header {
    padding: 2rem 0; /* Increase padding */
}

/* Progress bar styles */
.progress {
    height: 30px; /* Increase height */
}

/* Button styles */
.donate-button {
    font-size: 1.1rem; /* Increase font size */
    padding: .7rem 1.2rem; /* Increase padding */
    width: 200px; /* Increase width */
}

/* PayPal button image size */
.paypal-button img {
    max-height: 1.6rem; /* Increase height */
}

/* Clipboard button styles */
.clipboard-button {
    width: 37px; /* Increase width */
    height: 37px; /* Increase height */
}

/* Tooltip styles */
.tooltip-inner {
    font-size: 1rem; /* Increase font size */
    padding: .7rem 1rem; /* Increase padding */
}
.tooltip-arrow {
    width: 10px;
    height: 10px;
}


/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make the container take up the full viewport height */
}

/* Main content styles */
.row {
    flex-grow: 0.3; /* Make the main content grow and fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Distribute space evenly between the items */
}

/* Header styles */
/*header {*/
/*    padding: 2rem 0 4rem 0; !* Increase bottom padding *!*/
/*}*/
